<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://theroot-001-site2.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://theroot-001-site2.dtempurl.com:8172/msdeploy.axd?site=theroot-001-site2</MSDeployServiceURL>
    <DeployIisAppPath>theroot-001-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>theroot-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities2" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BballMVC.Models.Entities2, BballMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Bball.DAL.Entities, Bball.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LeagueScoresEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=FERRARI616\SS2008;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LeagueScoresEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/LeagueScores.csdl|res://*/LeagueScores.ssdl|res://*/LeagueScores.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FERRARI616\SS2008;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BballEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=FERRARI616\BBALL;Initial Catalog=00TTI_LeagueScores;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BballEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.BballEntities.csdl|res://*/Models.BballEntities.ssdl|res://*/Models.BballEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;                      data source=FERRARI616\BBALL;         initial catalog=00TTI_LeagueScores;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities2local" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=FERRARI616\BBALL;Initial Catalog=00TTI_LeagueScores;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities2local_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.BballEntities.csdl|res://*/Models.BballEntities.ssdl|res://*/Models.BballEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FERRARI616\BBALL;initial catalog=00TTI_LeagueScores;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BballEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="             data source=FERRARI616\BBALL;                             initial  catalog=00TTI_LeagueScores;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BballEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/BballModel.csdl|res://*/BballModel.ssdl|res://*/BballModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;             data source=FERRARI616\BBALL;                             initial  catalog=00TTI_LeagueScores;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities1" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=FERRARI616\SQLEXPRESS2012;Initial Catalog=00TTI;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model11.csdl|res://*/Models.Model11.ssdl|res://*/Models.Model11.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FERRARI616\SQLEXPRESS2012;initial catalog=00TTI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Override" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="null" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Override_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="null" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Arvixe" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Localhost\;Initial Catalog=00TTI_LeagueScores;Integrated Security=False;User ID=theroot;Password=788788kd;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Arvixe_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.BballEntities.csdl|res://*/Models.BballEntities.ssdl|res://*/Models.BballEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Localhost\;initial catalog=00TTI_LeagueScores;integrated security=false;User ID=theroot;Password=788788kd;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OverrideBballPROD" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Localhost\BballPROD;Initial Catalog=db_a791d7_leaguescores;Integrated Security=SSPI" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OverrideBballPROD_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=Localhost\BballPROD;Initial Catalog=db_a791d7_leaguescores;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SmarterAsp" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5074.site4now.net;Initial Catalog=db_a791d7_leaguescores;Integrated Security=False;User ID=db_a791d7_leaguescores_admin;Password=Pizzaman#1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmarterAsp_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.BballEntities.csdl|res://*/Models.BballEntities.ssdl|res://*/Models.BballEntities.msl;&#xD;&#xA;       provider=System.Data.SqlClient;&#xD;&#xA;       provider connection string=&quot;&#xD;&#xA;       data source=SQL5074.site4now.net;Initial Catalog=db_a791d7_leaguescores;&#xD;&#xA;       integrated security=false;&#xD;&#xA;       User ID=db_a791d7_leaguescores_admin;Password=Pizzaman#1;&#xD;&#xA;       MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Overridex" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5074.site4now.net;Initial Catalog=db_a791d7_leaguescores;User Id=db_a791d7_leaguescores_admin;Password=Pizzaman#1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Overridex_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5074.site4now.net;Initial Catalog=db_a791d7_leaguescores;User Id=db_a791d7_leaguescores_admin;Password=Pizzaman#1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Overridex-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmarterAsp-Web.config Connection String" />
    <MSDeployParameterValue Include="Arvixe-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OverrideBballPROD-Web.config Connection String" />
    <MSDeployParameterValue Include="BballEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BballEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities2local-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LeagueScoresEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Override-Web.config Connection String" />
  </ItemGroup>
</Project>