
<div class="table-responsive">
   <div style="overflow-x:auto;">
      <table class="table table-bordred table-striped  table-condensed w-auto" style="width:90%">
         <!-- Colspan Doc site https://www.w3.org/WAI/tutorials/tables/irregular/ -->
         <!--
          1     2    3        4       5       6       7      7B      8       9      10        11      12       13      14     15       16   17
        Rot # Team  Vol     Last 3  Last 5  Last 7  UnAdj  UnAdj  Points  Points  Team      Adjust  OT/Sid  Calced   Total  Side     Line Play
        Time        atilly    1       1       1     Total  PlanB  Scored  Allowe  Strength  ments    Adj     Line    Line   Open TL  Diff
   cons              x        x       x       x       x      x       x       x         x       x
           -->
         <!-- Header 1 -->
         <!--<tr style="color:{{LeagueColor}};">
      <th colspan="2"></th>

      <th colspan="1" ng-Hide="condensed"></th>
      <th colspan="3" ng-Hide="condensed" class="text-center"><=== History (Games Back/Weight) ===></th>
      <th colspan="4" ng-Hide="condensed"></th>
      <th colspan="2" ng-Hide="condensed">Adjustments</th>

      <th colspan="3">Lines</th>
      <th colspan="2"></th>
   </tr>-->
         <!-- Header 2 -->
         <tr style="color:{{LeagueColor}};">
            <th ng-click="toggleSort()">
               Rot #<br>Time
            </th>
            <th><br />Team</th>

            <th ng-Hide="condensed || !Multi"><br />Record</th>
            <th ng-Hide="condensed">Vol<br />atilly</th>

            <th ng-Hide="condensed || !ShowHistory"">Last&nbsp;{{TMparms.GB1}}<br />&nbsp;&nbsp;&nbsp;{{TMparms.WeightGB1}}</th>
            <th ng-Hide="condensed || !ShowHistory"">Last&nbsp;{{TMparms.GB2}}<br />&nbsp;&nbsp;&nbsp;{{TMparms.WeightGB2}}</th>
            <th ng-Hide="condensed || !ShowHistory"">Last&nbsp;{{TMparms.GB3}}<br />&nbsp;&nbsp;&nbsp;{{TMparms.WeightGB3}}</th>

            <th ng-Hide="condensed">UnAdj<br />Total</th>
            <th ng-Hide="condensed" title="Calced on Game Avgs not Point Avgs">UnAdj Tot<br />Plan B</th>
            <th ng-Hide="condensed" title="From Adjusted BxSc Stats  &#013; GamesBack: TeamAvgGamesBack">Points<br />Scored</th>
            <th ng-Hide="condensed" title="From Adjusted BxSc Stats  &#013; GamesBack: TeamAvgGamesBack">Points<br />Allowed</th>
            <th ng-Hide="condensed">Team<br />Strength</th>

            <th ng-Hide="condensed">Adjust<br />ments</th>
            <th ng-Hide="condensed">OT/Side<br />Adj</th>
            <th ng-Hide="condensed">Pace<br />Adj</th>
            <th ng-Hide="condensed">Team<br />Adj</th>

            <th ng-Hide="condensed">Calced<br />1 PTers</th>
            <th ng-Hide="condensed">Calced<br />2 PTers</th>
            <th ng-Hide="condensed">Calced<br />3 PTers</th>

            <th>Calced<br />Line</th>
            <th>Total<br />Line</th>

            <th ng-hide="Multi">Side<br />Line</th>
            <th ng-show="Multi">Side<br />Open TL</th>

            <th>Line<br />Diff</th>
            <th><br />Play</th>

            <th ng-show="PlayEntry">Play<br />Length</th>
            <th ng-show="PlayEntry">Play<br />Type</th>
            <th ng-show="PlayEntry"><br />Line</th>
            <th ng-show="PlayEntry"><br />Out</th>
            <th ng-show="PlayEntry"><br />Juice</th>
            <th ng-show="PlayEntry"><br />Amount</th>
            <th ng-show="PlayEntry"><br />Weight</th>
            <th ng-show="PlayEntry">
               <button type="button" class="btn btn-info active" data-toggle="tooltip" title="Process Plays"
                       ng-show="true" ng-click="ProcessPlays()">
                  Process Plays
               </button>
            </th>
         </tr>

         <!-- Header Averages -->
         <tr style="color:{{LeagueColor}};">
            <th colspan="2">Averages</th>
            

            <th colspan="2" ng-Hide="condensed"></th>
            <th colspan="3" ng-Hide="condensed || !ShowHistory"></th>
            <th colspan="12" ng-Hide="condensed"></th>

            <th>{{avgOurTotalLine | number:1}}</th>
            <th>{{avgTotalLine | number:1}}</th>

            <th ng-show="Multi">{{avgOpenTotalLine | number:1}}</th>
            <th ng-hide="Multi"></th>

            <th></th>
            <th></th>
         </tr>

         <tr ng-show="ocTodaysMatchups.length==0"><td>No Games Scheduled</td></tr>

         <!-- Matchups -->
         <tr ng-repeat="item in ocTodaysMatchups" ng-hide="HideMatchupRow(this)">

            <td>
               <table>
                  <tr>
                     <td ng-hide="Multi" id="RotNumGameTime_{{$index}}">{{item.RotNum}} - {{DisplayTimeAmPm(this)}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi" id="RotNum_{{$index}}">{{item.RotNum}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi" id="GameTime_{{$index}}">{{DisplayTimeAmPm(this)}}</td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <td ng-hide="Multi">{{item.TeamAway}}-{{item.TeamHome}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi" id="TeamAway_{{$index}}">{{item.TeamAway}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi" id="TeamHome_{{$index}}">{{item.TeamHome}}</td>
                  </tr>
                  <!--<tr>
            <td ng-show="Multi" id="TeamAway_{{$index}}">
               <table>
                  <tr>
                     <td>{{item.TeamAway}}</td>
                     <td> </td>
                     <td>{{item.TeamRecordAway}}</td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td ng-show="Multi" id="TeamHome_{{$index}}">
               <table>
                  <tr>
                     <td>{{item.TeamHome}}</td>
                     <td> </td>
                     <td>{{item.TeamRecordHome}}</td>
                  </tr>
               </table>
            </td>
         </tr>-->
               </table>
            </td>

            <!--Record-->
            <td ng-Hide="condensed || !Multi">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.TeamRecordAway}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.TeamRecordHome}}</td>
                  </tr>
               </table>
            </td>
            <!--Volatility-->
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-hide="Multi">{{item.VolatilityAway | number:1}} / {{item.VolatilityHome | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.VolatilityAway | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.VolatilityHome | number:1}}</td>
                  </tr>

               </table>
            </td>

            <td ng-Hide="condensed || !ShowHistory">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AwayGB1 | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.HomeGB1 | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.AwayGB1+item.HomeGB1 | number:1 }}</td>
                  </tr>
               </table>
            </td>
            <td ng-Hide="condensed || !ShowHistory">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AwayGB2 | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.HomeGB2 | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.AwayGB2+item.HomeGB2 | number:1 }}</td>
                  </tr>
               </table>
            </td>
            <td ng-Hide="condensed || !ShowHistory">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AwayGB3 | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.HomeGB3 | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.AwayGB3+item.HomeGB3 | number:1 }}</td>
                  </tr>
               </table>
            </td>

            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi"
                         ng-click="OpenModal([this, 'Away'], 'TodaysMatchupsContainer', 'TMunAdjTotalsModal', 'eventOpenTMunAdjTotalsModal')">
                     {{item.UnAdjTotalAway | number:1}}
                     </td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.UnAdjTotalHome | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.UnAdjTotal | number:1}}</td>
                  </tr>
               </table>
            </td>
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi" ng-class="applyMinusRedColor({{item.UnAdjTotalAwayPlanB}}, {{item.UnAdjTotalAway}} )">
                        {{item.UnAdjTotalAwayPlanB | number:1}}
                     </td>
                  </tr>
                  <tr>
                     <td ng-show="Multi" ng-class="applyMinusRedColor({{item.UnAdjTotalHomePlanB}}, {{item.UnAdjTotalHome}} )">
                        {{item.UnAdjTotalHomePlanB | number:1}}
                     </td>
                  </tr>
                  <tr>
                     <td class="statTotal" ng-class="applyMinusRedColor({{item.UnAdjTotalPlanB}}, {{item.UnAdjTotal}} )">
                        {{item.UnAdjTotalPlanB | number:1}}
                     </td>
                  </tr>
               </table>
            </td>
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AwayAveragePtsScored | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.HomeAveragePtsScored | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.AwayAveragePtsScored+item.HomeAveragePtsScored | number:1}}</td>
                  </tr>
               </table>
            </td>
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AwayAveragePtsAllowed | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.HomeAveragePtsAllowed | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.AwayAveragePtsAllowed+item.HomeAveragePtsAllowed | number:1}}</td>
                  </tr>
               </table>
            </td>
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-hide="Multi">{{item.TmStrAway | number:1}} / {{item.TmStrHome | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.TmStrAway | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.TmStrHome | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{ (item.TmStrAway + item.TmStrHome) - oBballInfoDTO.oBballDataDTO.oDailySummaryDTO.LgAvgScoreFinal | number:1}}</td>
                  </tr>
               </table>
            </td>

            <!--Adjustments-->
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi"
                         ng-click="OpenModal([this, 'Away'], 'TodaysMatchupsContainer', 'AdjustmentsByTeamModal', 'eventOpenAdjustmentsByTeamModal')">
                        {{item.AdjAmtAway | number:1}}
                     </td>
                  </tr>
                  <tr>
                     <td ng-show="Multi"
                         ng-click="OpenModal([this, 'Home'], 'TodaysMatchupsContainer', 'AdjustmentsByTeamModal', 'eventOpenAdjustmentsByTeamModal')">
                        {{item.AdjAmtHome | number:1}}
                     </td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.AdjAmt | number:1}}</td>
                  </tr>
               </table>
            </td>
            <!--Adj OT Side-->
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AdjOTwithSide / 2 | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.AdjOTwithSide / 2 | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.AdjOTwithSide | number:1}}</td>
                  </tr>
               </table>
            </td>
            <!--Adj Pace-->
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AdjPaceAway | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.AdjPaceHome | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.AdjPaceAway +item.AdjPaceHome | number:1}}</td>
                  </tr>
               </table>
            </td>
            <!--Adj Team-->
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AdjTeamAway | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.AdjTeamHome | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">{{item.AdjTeamAway +item.AdjTeamHome | number:1}}</td>
                  </tr>
               </table>
            </td>

            <!--Calced Pt1-->
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AwayProjectedPt1 | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.HomeProjectedPt1 | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">
                        {{item.AwayProjectedPt1 + item.HomeProjectedPt1 | number:1}}
                     </td>
                  </tr>
               </table>
            </td>

            <!--Calced Pt2-->
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AwayProjectedPt2 | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.HomeProjectedPt2 | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">
                        {{item.AwayProjectedPt2 + item.HomeProjectedPt2 | number:1}}
                     </td>
                  </tr>
               </table>
            </td>

            <!--Calced Pt3-->
            <td ng-Hide="condensed">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.AwayProjectedPt3 | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.HomeProjectedPt3 | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal">
                        {{item.AwayProjectedPt3 + item.HomeProjectedPt3 | number:1}}
                     </td>
                  </tr>
               </table>
            </td>

            <!--Calced Line-->
            <td>
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.OurTotalLineAway | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.OurTotalLineHome | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal" ng-class="applyMinusRedColor({{item.OurTotalLine}}, {{item.TotalLine}} )">
                        {{item.OurTotalLine | number:1}}
                     </td>
                  </tr>
               </table>
            </td>
            <!--Total Line-->
            <td>
               <table>
                  <tr>
                     <td ng-show="Multi">{{(item.TotalLine-item.SideLine)/2 | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{(item.TotalLine+item.SideLine)/2 | number:1}}</td>
                  </tr>
                  <tr>
                     <td id="TotalLine_{{$index}}" ng-class="applyTotalLineDirection(this)">{{item.TotalLine | number:1}}</td>
                  </tr>

               </table>
            </td>

            <td>
               <table>
                  <tr>
                     <td>{{item.SideLine | number:1}}</td>
                  </tr>
                  <tr><td ng-show="Multi">&nbsp;</td> </tr>
                  <tr>
                     <td ng-show="Multi">{{item.OpenTotalLine === 0.0 ? "" : item.OpenTotalLine }}</td>
                  </tr>
               </table>
            </td>

            <td class="num">
               <table>
                  <tr>
                     <td ng-show="Multi">{{item.OurTotalLineAway - ((item.TotalLine-item.SideLine)/2) | number:1}}</td>
                  </tr>
                  <tr>
                     <td ng-show="Multi">{{item.OurTotalLineHome - ((item.TotalLine+item.SideLine)/2) | number:1}}</td>
                  </tr>
                  <tr>
                     <td class="statTotal" ng-class="applyMinusRedColor({{item.PlayDiff}} )">{{item.PlayDiff |  number:1}}</td>
                  </tr>
               </table>
            </td>

            <td id="Play_{{$index}}">
               <table>
                  <tr>
                     <td ng-show="Multi"> </td>
                  </tr>
                  <tr>
                     <td ng-show="Multi"> </td>
                  </tr>
                  <tr>
                     <td class="statTotal" ng-class="applyClassPlayColor(this)">{{item.Play}}</td>
                  </tr>
               </table>
            </td>

            <!-- PlayEntry -->
            <!-- 1)PlayLength 2)PlayDirection (un/ov) 3)Line 4)Out 5)Juice 6)PlayAmount 7)PlayWeight 8)cbProcessPlay -->
            <td ng-show="PlayEntry">
               <select id="PlayLength_{{$index}}">
                  <option value="Game" label="Game"></option>
                  <option value="H1" label="H1"></option>
                  <option value="H2" label="H2"></option>
                  <option value="Q1" label="Q1"></option>
                  <option value="Q2" label="Q2"></option>
                  <option value="Q3" label="Q3"></option>
                  <option value="Q4" label="Q4"></option>
               </select>
            </td>
            <td ng-show="PlayEntry">
               <select id="PlayDirection_{{$index}}">
                  <option value="" label=""></option>
                  <option value="Over" label="Over"></option>
                  <option value="Under" label="Under"></option>
                  <option value="Away" label="Away"></option>
                  <option value="Home" label="Home"></option>
               </select>
            </td>
            <td ng-show="PlayEntry">
               <input id="Line_{{$index}}" type="text" maxlength="5" size="2" />
            </td>

            <td ng-show="PlayEntry">
               <select id="Out_{{$index}}">
                  <option value="Pin">Pin</option>
                  <option value="Chris">Chris</option>
                  <option value="OTHER">OTHER</option>
               </select>
            </td>

            <td ng-show="PlayEntry">
               <input type="text" maxlength="4" size="2" id="Juice_{{$index}}" />
            </td>
            <td ng-show="PlayEntry">
               <input type="text" maxlength="7" size="3" id="PlayAmount_{{$index}}" ng-blur="PlayAmountBlur(this)" />
            </td>
            <td ng-show="PlayEntry">
               <input type="text" maxlength="4" size="2" id="PlayWeight_{{$index}}" ng-blur="PlayWeightBlur(this)" />
            </td>
            <td ng-show="PlayEntry">
               <input type="checkbox" id="cbProcessPlay_{{$index}}" />
            </td>
            <td ng-show="PlayEntry" id="Played_{{$index}}"></td>
            <td ng-show="!PlayEntry && condensed" colspan="8" ></td>
         </tr>
      </table>
   </div>
</div>
   <hr />

