
<hr />
<div ng-controller="TodaysMatchupsController">


      <div class="container" id="TodaysMatchupsContainer">
         <div class="row">
            <div class="col-md-12" id="kd">
            </div>
         </div>
         <div class="row">

            <div class="col-md-1">
               <button type="button" class="btn btn-info active" data-toggle="tooltip"
                       title="uspCalcTodaysMatchups&#013;GetTodaysMatchups&#013;GetDailySummaryDTO&#013;GetUserLeagueParmsDTO"
                       ng-show="true" ng-click="RefreshTodaysMatchups()">
                  Refresh TMs
               </button>
               <div>
                  League Name: {{oBballInfoDTO.LeagueName}}
                  <br /> {{Getmdy(oBballInfoDTO.GameDate)}}
               </div>
            </div>
            <div class="col-md-3">
               <div ng-include="'Common/_GameDate.html'"></div>
            </div>
            <div class="col-md-3">
               <div class="row">
                  <div class="col-md-6">
                     <div><input type="checkbox" ng-model="PlayEntry" class=".bigCheckBox" ng-click="InitPlayEntry()"> Play Entry</div>
                     <div><input type="checkbox" ng-model="ShowPlaysOnly"> Show Plays Only</div>
                     <div><input type="checkbox" ng-model="ShowDailySummary"> Show Daily Summary</div>
                     <div><input type="checkbox" ng-model="ShowNoLineGames"> Show No Line Games</div>
                  </div>
                  <div class="col-md-6">
                     <div><input type="checkbox" ng-model="Multi"> Show Multi Lines</div>
                     <div><input type="checkbox" ng-model="condensed"> Condensed Display</div>
                     <div><input type="checkbox" ng-model="ShowHistory"> Show History</div>
                     <div><input type="checkbox" ng-model="ShowCanceledGames"> Show Canceled Games</div>
                  </div>
               </div>
            </div>

            <div class="col-md-5">
            </div>
         </div>
         <!--<div class="row" ng-show="ShowDailySummary">
  
            <div class="col-md-9" style="color:{{LeagueColor}};">
               Daily Summary League Averages1
            </div>
         </div>-->
         <div class="row">
            <div ng-include="'TodaysMatchups/_DailySummary.html'"></div>
         </div>

         <div class="row">
            <div class="table-responsive">
               <div ng-include="'TodaysMatchups/_TodaysMatchupsTable.html'"></div>
            </div>
         </div>

      </div>


   <!--<div ng-include="'TodaysMatchups/_AdjustmentsByTeamModal.html'"></div>-->

</div>
