

<div ng-controller="HeaderController">
   <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-3">
         <h1>Bball</h1>
      </div>
      <div class="col-md-7"> </div>
   </div>

   <div class="row">
      <div class="col-md-12"><hr /> </div>
   </div>

   <div class="row">
      <div class="col-md-1"> </div>
      <div class="col-md-1">
         <button type="button" class="btn btn-info active" data-toggle="tooltip" title="Select League"
                 ng-show="LeagueName !== undefined" ng-click="SelectLeague()">
            Select League
         </button>
      </div>

      <div class="col-md-1">
         <span class="help-block text-muted small-font">League Name</span>
         <span class="help-block text-muted small-font" ng-hide="ShowLeagueDropDown">--Retrieving League Names--</span>
         <select ng-model="LeagueName" ng-show="ShowLeagueDropDown" ng-change="SelectLeague()"
                 ng-options="item.Text as item.Value for item in LeagueNameList">
            <option value="" label="--Select League--"></option>
            <!--<option value="NBA" label="NBA"></option>
         <option value="WNBA" label="WNBA"></option>-->
         </select>
      </div>

      <div ng-include="'Common/_GameDate.html'"></div>
      <div class="col-md-8"> </div>
   </div>

</div>
