body {
}

#screen {
   width: 2000px;
   height: 1000px;
}
.xpopupModal {
   width: 750px;
   height: 418px;
   background: #000000;
   text-align: center;
   position: fixed;
   left: 37.5%;
   top: 5%;
   z-index: 20;
   display: none;
   padding-top: 6px
}
.awayR1, .homeR1 {
   color: blue;
}
.awayR2, .homeR2 {
   color: green;
}
.awayR3, .homeR3 {
   color: black;
   font-weight: bold;
}
.redFG {
   color: red;
}
.b-left {
   border-left-style: solid;
}
.xover  {
   color: yellow;
   background: black;
   font-weight: bold;
   border: 2px solid black;
}
.over, .winning, .win{
   color: yellow;
   background: black;
   font-weight: bold;
   border: 2px solid black;
}
.under, .losing, .loss {
   color: yellow;
   background: red;
   border: 2px solid black;
}
.xlosing {
   color: yellow;
   background: red;
   border: 2px solid black;
}




.w-narrow {
   column-width: 50px;
}

.w-medium {
   column-width: 100px;
}

.w-wide {
   column-width: 150px;
}

.large {
   font-size: 150%;
   font: bold;
   vertical-align: center;
}

.statTotal {
   font-weight: bold;
}

.bigCheckBox {
   -webkit-appearance: none;
   width: 30px;
   height: 30px;
   background: white;
   border-radius: 5px;
   border: 2px solid #555;
}

.bigCheckBox.input[type='checkbox']:checked {
   background: #abd;
}
.num {
   text-align: right;
}.alRight {
   text-align: right;
}
/*
input[type='checkbox'] {
   -webkit-appearance: none;
   width: 30px;
   height: 30px;
   background: white;
   border-radius: 5px;
   border: 2px solid #555;
}

   input[type='checkbox']:checked {
      background: #abd;
   }
*/