<div ng-controller="AdjustmentsModalController">
   <div class="row " id="AdjustmentsModal" ng-style="setAdjustmentsModal">


      <div class="col-md-12">
         <div class="panel panel-default">

            <div class="panel-heading text-center">
               Adjustment Entry
            </div>
            <div class="panel-body text-center">
               <!-- Adjustment Type / Team Dropdown -->
               <div class="row ">

                  <div class="col-md-2"></div>
                  <div class="col-md-5 col-sm-4 col-xs-3">
                     <span class="help-block text-muted small-font">Adjustment Type</span>
                     <select ng-model="AdjustmentType" ng-options="item.Text as item.Value for item in AdjustmentNameList">
                        <option value="" label="--Select Adjustment--"></option>
                     </select>
                  </div>
                  <div class="col-md-5 col-sm-4 col-xs-3">
                     <span class="help-block text-muted small-font">  Team</span>
                     <select ng-model="Team" ng-options="item.Text as item.Value for item in TeamList">
                        <option value="" label="--Select Team--"></option>
                     </select>
                  </div>
               </div>
               <!-- Error Display row -->
               <div class="row ">
                  <div class="col-md-3"></div>
                  <div class="col-md-3 col-sm-3 showError">
                     <span id="errAdjustmentType" ng-hide="ValidateAdjustmentType()">Adjustment Type required</span>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-3 col-sm-3 showError">
                     <span id="errTeam" ng-hide="ValidateTeam()">Team required</span>
                     <div class="col-md-1"></div>
                  </div>
               </div>

               <!-- Adjustment Amount -->
               <div class="row ">
                  <div class="col-md-2"></div>
                  <div class="col-md-5 pad-adjust col-sm-5">
                     <span class="help-block text-muted small-font pull-left">Adjustment Amount</span><br />
                     <input type="text" class="form-control" placeholder="Adjustment Amount" ng-model="AdjustmentAmount" id="AdjustmentAmount" />
                  </div>


                  <div class="col-md-3">
                     <div><input type="checkbox" ng-model="cbDescendingAdjustment"> Descending Adj</div>
                  </div>
                  <div class="col-md-3 pad-adjust col-sm-3" ng-show="cbDescendingAdjustment">
                     <span class="help-block text-muted small-font pull-left">Descending Adj Days</span><br />
                     <input type="text" class="form-control" placeholder="Descending Adj Days" ng-model="DescendingDays" id="DescendingDays" />
                  </div>
                  <div class="col-md-1"></div>

               </div>

               <!-- Adjustment Amount Error row -->
               <div class="row showError">
                  <div class="col-md-2"></div>
                  <div class="col-md-5 col-sm-3 showError">
                     <span id="errAdjustmentAmount" ng-hide="ValidateAdjustmentAmount()">Adjustment Amount required < 10 and > -10</span>
                  </div>
                  <div class="col-md-5 col-sm-3">
                  </div>
               </div>
               <!-- Player -->
               <div class="row ">
                  <div class="col-md-2"></div>
                  <div class="col-md-5 pad-adjust col-sm-3">
                     <span class="help-block text-muted small-font pull-left">  Player</span><br />
                     <input type="text" class="form-control" placeholder="Player" ng-model="Player" id="Player" />
                  </div>
                  <div class="col-md-5 col-sm-3 showError">
                     <span id="errPlayer" ng-hide="ValidatePlayer()">Player required</span>
                  </div>
               </div>
               <!-- Description -->
               <div class="row ">
                  <div class="col-md-2"></div>
                  <div class="col-md-5 pad-adjust col-sm-4">
                     <span class="help-block text-muted small-font pull-left">  Description</span><br />
                     <input type="text" class="form-control" placeholder="Description" ng-model="Description" id="Description" />
                  </div>
                  <div class="col-md-5 col-sm-3 showError">
                     <span></span>
                     <span id="errDescription" ng-hide="ValidateDescription()">Descriptions required</span>
                  </div>
               </div>

               <div class="row ">
                  <div class="col-md-6">&nbsp;</div>
               </div>
               <div class="row ">
                  <div class="col-md-2"></div>
                  <div class="col-md-3 col-sm-3 col-xs-3 pad-adjust">
                     <input type="button" class="btn btn-danger" value="Close" ng-click="AdjustmentsModalClose()" />
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-5 pad-adjust">
                     <input type="button" class="btn btn-success btn-block" xng-show="ValidateAdjustmentForm()" value="Update" ng-click="clickInsertAdjustment()" />
                  </div>
                  <div class="col-md-2"></div>
               </div>

            </div>
         </div>

      </div>


   </div>
</div>