
<div ng-controller="AdjustmentsController">
   <div class="container" id="AdjustmentsListContainer">

      <div class="row">
         <div class="col-md-8">
            <div class="btn-group">
               <button type="button" class="btn btn-info active" data-toggle="tooltip" title="Update" ng-click="ProcessAdjustmentUpdates()">Update</button>
               <button type="button" class="btn btn-info" data-toggle="tooltip" title="Add Adjustment" ng-click="OpenAdjustmentsModal()">Add</button>
            </div>

            <div class="btn-group">
               <button class="btn btn-default " type="button" data-toggle=" tooltip" title="Update" ng-click="ProcessAdjustmentUpdates()">
                  <span class="glyphicon glyphicon-pencil"></span>&nbsp;
               </button>
            </div>
            <div class="btn-group">
               <button class="btn btn-default " type="button" data-toggle="tooltip" title="Add Adjustment"
                       ng-click="OpenAdjustmentsModal()">
                  <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
               </button>
            </div>
         </div>

      </div>

      <div class="row">
         <div class="col-md-12">

            <div class="row">
               <div class="col-md-3">
                  <input type="checkbox" ng-model="cbShowZeroAdjustments" ng-checked="true" /> Show Zero Adjustments
               </div>

               <div class="col-md-9">
               </div>
            </div>

            <div class="table-responsive">
               <div ng-include="'Adjustments/_AdjustmentRow.html'"></div>
            </div>

         </div>
      </div>

   </div>

   <div ng-include="'Adjustments/_AdjustmentsModel.html'"></div>

   <div class="table-responsive">

   </div>
</div><!-- App -->
