body {
}

.screen {
   width: 95%;
}

.awayR1 {
   color: black;
   background: yellow;
}

.w-narrow {
   column-width: 50px;
}
.w-medium {
   column-width: 100px;
}
.w-wide {
   column-width: 150px;
}

.large {
   font-size: 150%;
   font: bold;
   vertical-align: center;
   
}
.statTotal {
   font-weight: bold;
}