body {
}

.screen {
   width: 95%;
}

.over {
   color: yellow;
   background: black;
   font-weight: bold;
   border: 2px solid black;
}
.winning {
   color: yellow;
   background:black;
   font-weight: bold;
   border: 2px solid black;
}
.under {
   color: yellow;
   background: red;
   border: 2px solid black;
}
.losing {
   color: yellow;
   background: red;
   border: 2px solid black;
}


.awayR1 {
   color: black;
   background: yellow;
}

.w-narrow {
   column-width: 50px;
}

.w-medium {
   column-width: 100px;
}

.w-wide {
   column-width: 150px;
}

.large {
   font-size: 150%;
   font: bold;
   vertical-align: center;
}

.statTotal {
   font-weight: bold;
}

.bigCheckBox {
   -webkit-appearance: none;
   width: 30px;
   height: 30px;
   background: white;
   border-radius: 5px;
   border: 2px solid #555;
}

.bigCheckBox.input[type='checkbox']:checked {
   background: #abd;
}
.num {
   text-align: right;
}.alRight {
   text-align: right;
}
/*
input[type='checkbox'] {
   -webkit-appearance: none;
   width: 30px;
   height: 30px;
   background: white;
   border-radius: 5px;
   border: 2px solid #555;
}

   input[type='checkbox']:checked {
      background: #abd;
   }
*/