body {
}

.screen {
   width: 95%;
}

.awayR1 {
   color: black;
   background: yellow;
}

.w-narrow {
   column-width: 50px;
}

.w-medium {
   column-width: 100px;
}

.w-wide {
   column-width: 150px;
}

.large {
   font-size: 150%;
   font: bold;
   vertical-align: center;
}

.statTotal {
   font-weight: bold;
}

input[type='checkbox'] {
   -webkit-appearance: none;
   width: 30px;
   height: 30px;
   background: white;
   border-radius: 5px;
   border: 2px solid #555;
}

   input[type='checkbox']:checked {
      background: #abd;
   }
