 
USE [00TTI_LeagueScores]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[udfCreateAdjustmentString]') AND type in (N'FN'))
       DROP FUNCTION [dbo].[udfCreateAdjustmentString]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==================================================================
-- Author:                 Keith Doran
-- Create date:            12/29/2020
-- Description:            Returns Tams Adjs as comma delimited string
-- ==================================================================
-- Change History
-- ==================================================================
-- 
-- ==================================================================
-- Select dbo.udfCreateAdjustmentString Parms...

create procedure [dbo].[uspCreateAdjustmentString] @Team varchar(10)
		, @AdjustmentTable AS dbo.typAdjustmentTable Readonly 



AS
BEGIN
	Declare @AdjustmentString VarChar(4000)
			, @AdjustmentAmount double
	
	While 1 = 1
	BEGIN
		Select top 1 @AdjustmentAmount = adj.AdjustmentAmount
			From @AdjustmentTable adj
			Where adj.Team = @Team
	END


    select @AdjustmentString
END

