/****** Script for SelectTopNRows command from SSMS  ******/
SELECT      
		[TeamAway]
      ,[TeamHome]
      ,[RotNum]
      --,[Time]
		
      --, Round([TmStrAway], 1) as [TmStrAway]
      --, Round([TmStrHome], 1) as [TmStrHome]
      , Round([UnAdjTotalAway], 1) as [UnAdjTotalAway]
      , Round([UnAdjTotalHome], 1) as [UnAdjTotalHome]
      , Round([UnAdjTotal], 2) as [UnAdjTotal]
      , Round([AdjAmtAway], 2) as [AdjAmtAway]
      , Round([AdjAmtHome], 2) as [AdjAmtHome]
      , Round([AdjAmt], 2) as [AdjAmt]
      , Round([OurTotalLineAway], 1) as [OurTotalLineAway]
      , Round([OurTotalLineHome], 1) as [OurTotalLineHome]
      , Round([OurTotalLine], 1) as [OurTotalLine]
      , Round([SideLine], 1) as [SideLine]
      ,[TotalLine]
      ,[OpenTotalLine]
      ,[Play] as '  PLAY  '
      , Round([LineDiff], 1) as [LineDiff]
      , Round([OpenLineDiff], 1) as [OpenLineDiff]
      , Round([AdjustedDiff], 1) as [AdjustedDiff]
      , Round([BxScLinePct], 1) as [BxScLinePct]
      , Round([TmStrAdjPct], 1) as [TmStrAdjPct]
      ,[GB1]
      ,[GB2]
      ,[GB3]
      ,[WeightGB1]
      ,[WeightGB2]
      ,[WeightGB3]
      ,[AwayGB1]
      ,[AwayGB2]
      ,[AwayGB3]
      ,[HomeGB1]
      ,[HomeGB2]
      ,[HomeGB3]
      ,[AwayGB1Pt1]
      ,[AwayGB1Pt2]
      ,[AwayGB1Pt3]
      ,[AwayGB2Pt1]
      ,[AwayGB2Pt2]
      ,[AwayGB2Pt3]
      ,[AwayGB3Pt1]
      ,[AwayGB3Pt2]
      ,[AwayGB3Pt3]
      ,[HomeGB1Pt1]
      ,[HomeGB1Pt2]
      ,[HomeGB1Pt3]
      ,[HomeGB2Pt1]
      ,[HomeGB2Pt2]
      ,[HomeGB2Pt3]
      ,[HomeGB3Pt1]
      ,[HomeGB3Pt2]
      ,[HomeGB3Pt3]
      ,[TotalBubbleAway]
      ,[TotalBubbleHome]
  FROM [00TTI_LeagueScores].[dbo].[TodaysMatchups]
  Where GameDate = CONVERT(date, getdate())
	--AND Play > ''