
-- Manually add UserLeagueParms columns below

  Update UserLeagueParms
		Set TodaysMUPsOppAdjPctPt1 = TmStrAdjPct
		  , TodaysMUPsOppAdjPctPt2 = TmStrAdjPct
		  , TodaysMUPsOppAdjPctPt3 = TmStrAdjPct
		  , TempRow = 0


  Update UserLeagueParms
		Set TMUPsWeightTeamStatGB1 = 1
		  , TMUPsWeightTeamStatGB2 = 2
		  , TMUPsWeightTeamStatGB3 = 3
		  ,TMUPsWeightLgAvgGB1 = 0
		  ,TMUPsWeightLgAvgGB2 = 0
		  ,TMUPsWeightLgAvgGB3 = 0


		  

