/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (30) [DailySummaryID]
      ,[GameDate]
      ,[LeagueName]
      ,[Season]
      ,[SubSeason]
      ,[SubSeasonPeriod]
      ,[NumOfMatchups]
      ,[LgAvgStartDate]
      ,[LgAvgStartDateActual]
      ,[LgAvgGamesBack]
      ,[LgAvgGamesBackActual]
      ,[LgAvgScoreAway]
      ,[LgAvgScoreHome]
      ,[LgAvgScoreFinal]
      ,[LgAvgTotalLine]
      ,[LgAvgOurTotalLine]
      ,[LgAvgShotsMadeAwayPt1]
      ,[LgAvgShotsMadeAwayPt2]
      ,[LgAvgShotsMadeAwayPt3]
      ,[LgAvgShotsMadeHomePt1]
      ,[LgAvgShotsMadeHomePt2]
      ,[LgAvgShotsMadeHomePt3]
      ,[LgAvgShotsAttemptedAwayPt1]
      ,[LgAvgShotsAttemptedAwayPt2]
      ,[LgAvgShotsAttemptedAwayPt3]
      ,[LgAvgShotsAttemptedHomePt1]
      ,[LgAvgShotsAttemptedHomePt2]
      ,[LgAvgShotsAttemptedHomePt3]
      ,[LgAvgShotPct]
      ,[LgAvgShotPctPt2]
      ,[LgAvgShotPctPt3]
      ,[LgAvgLastMinPts]
      ,[LgAvgLastMinPt1]
      ,[LgAvgLastMinPt2]
      ,[LgAvgLastMinPt3]
      ,[LgAvgTurnOversAway]
      ,[LgAvgTurnOversHome]
      ,[LgAvgOffRBAway]
      ,[LgAvgOffRBHome]
      ,[LgAvgAssistsAway]
      ,[LgAvgAssistsHome]
      ,[LgAvgPace]
      ,[LgAvgVolatilityTeam]
      ,[LgAvgVolatilityGame]
      ,[AdjRecentLeagueHistory]
      ,[TS]
  FROM [00TTI_LeagueScores].[dbo].[DailySummary]
  order by GameDate desc