
-- /*
Select bs.* , tm.GameDate

From (
	select b.Season, b.LeagueName, b.Gamedate, count(*) / 2 as MatchUps
	
	from BoxScores b
	Where Season = '2021' and Leaguename = 'NBA'
	group by Season, LeagueName, Gamedate
) bs
Left Join (

	select Gamedate from TodaysMatchups
	Where Season = '2021' and Leaguename = 'NBA'
	group by Season, LeagueName, Gamedate
	) tm on tm.GameDate = bs.GameDate
	Where tm.GameDate is null

return
	select top 100 b.*
	from BoxScores b
	Where Season = '2021' and Leaguename = 'NBA' and SubSeason = '1-Reg'
	order by gameDate desc
