/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [RotationID]
      ,[LeagueName]
      ,[GameDate]
      ,[RotNum]
      ,[Venue]
      ,[Team]
      ,[Opp]
      ,[GameTime]
      ,[TV]
      ,[SideLine]
      ,[TotalLine]
      ,[TotalLineTeam]
      ,[TotalLineOpp]
      ,[OpenTotalLine]
      ,[BoxScoreSource]
      ,[BoxScoreUrl]
      ,[CreateDate]
      ,[UpdateDate]
  FROM [00TTI_LeagueScores].[dbo].[Rotation]
  where TotalLine < 100 AND GameDate < GetDate()
  order by gamedate