/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
[LeagueName]
      ,[GameDate]
      ,[RotNum]
      ,[TeamAway]
      ,[TeamHome]
      ,[OurTotalLine]
      ,[TotalLine]
     -- ,[OpenTotalLine]
      ,[PlayDiff]
      ,[Play]
      ,[PlayResult]
		      ,[ScoreReg]
      ,[ScoreOT]
      ,[UnderWin]
      ,[UnderLoss]
      ,[OverWin]
      ,[OverLoss]
      ,[TotalDirection]
      ,[TotalDirectionReg]
      ,[LineDiffResultReg]
      ,[MinutesPlayed]
      ,[OtPeriods]

      ,[ScoreRegHome]
      ,[ScoreRegAway]
      ,[VolatilityAway]
      ,[VolatilityHome]
      ,[VolatilityGame]
      ,[BxScLinePct]
      ,[TmStrAdjPct]
      ,[GB1]
      ,[GB2]
      ,[GB3]
      ,[WeightGB1]
      ,[WeightGB2]
      ,[WeightGB3]
      ,[AwayGB1]
      ,[AwayGB2]
      ,[AwayGB3]
      ,[HomeGB1]
      ,[HomeGB2]
      ,[HomeGB3]
      ,[TS]
  FROM [00TTI_LeagueScores].[dbo].[TodaysMatchupsResults]
  where GameDate > '8/17/2020'
   and PlayResult is not null
  order by Gamedate, RotNum