<script src="~/AngularJS/Adjustments/AdjustmentsApp.js"></script>

<style>
   #AdjustmentsModal {
      width: 750px;
      height: 418px;
      background: #000000;
      text-align: center;
      position: fixed;
      left: 37.5%;
      top: 25%;
      z-index: 20;
      display: none;
      padding-top: 6px
   }

   #AdjustmentsList {
   }

   .showError {
      color: red;
      background: yellow;
   }
</style>

<div ng-app="app" ng-controller="AdjustmentsController">
   <div class="container" id="AdjustmentsList">
      {{apptitle}} -

      <div class="row" style="margin-top: 10px;margin-bottom:10px;">
         <div class="col-md-8">
            <div class="btn-group">
               <button type="button" class="btn btn-info active" data-toggle="tooltip" title="Update">Update</button>
               <button type="button" class="btn btn-info"        data-toggle="tooltip" title="Add Adjustment">New</button>
            </div>

            <div class="btn-group">
               <button class="btn btn-default " type="button" data-toggle=" tooltip" title="Update" ng-click="ProcessUpdates()">
                  <span class="glyphicon glyphicon-pencil"></span>&nbsp;
               </button>
            </div>
            <div class="btn-group">
               <button class="btn btn-default " type="button" data-toggle="tooltip" title="Add Adjustment" 
                       ng-click="OpenAdjustmentEntryModal()" id="btOpenAdjustmentEntryModal">
                  <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
               </button>
            </div>
         </div>

      </div>

      <div class="row">
         <div class="col-md-12">

            <div class="row">
               <div class="col-md-3">
                  <input type="checkbox" ng-model="cbShowZeroAdjustments" ng-checked="true" /> Show Zero Adjustments
               </div>

               <div class="col-md-9">
               </div>
            </div>

            <div class="table-responsive">
               <div ng-include="'App/AdjustmentRow.html'"></div>
            </div>

         </div>
      </div>

   </div>

   <div class="row " id="AdjustmentsModal" ng-style="setAdjustmentsModal">
      <div class="col-md-3">
      </div>
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-heading text-center">
               Adjustment Entry

            </div>
            <div class="panel-body text-center">
            <!-- Adjustment Type / Team Dropdown -->
               <div class="row ">
               
                  <div class="col-md-2"></div>
                  <div class="col-md-5 col-sm-4 col-xs-3">
                     <span class="help-block text-muted small-font">Adjustment Type</span>
                     <select ng-model="AdjustmentType" ng-options="item.Text as item.Value for item in AdjustmentNameList">
                        <option value="" label="--Select Adjustment--"></option>
                     </select>
                  </div>
                  <div class="col-md-5 col-sm-4 col-xs-3">
                     <span class="help-block text-muted small-font">  Team</span>
                     <select ng-model="Team" ng-options="item.Text as item.Value for item in TeamList">
                        <option value="" label="--Select Team--"></option>
                     </select>
                  </div>
               </div>
            <!-- Error Display row -->
               <div class="row ">
                  <div class="col-md-3"></div>
                  <div class="col-md-3 col-sm-3 showError">
                     <span id="errAdjustmentType" ng-hide="ValidateAdjustmentType()">Adjustment Type required</span>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-3 col-sm-3 showError">
                     <span id="errTeam" ng-hide="ValidateTeam()">Team required</span>
                     <div class="col-md-1"></div>
                  </div>
               </div>
            <!-- Adjustment Amount -->
               <div class="row ">
                  <div class="col-md-2"></div>
                  <div class="col-md-5 pad-adjust col-sm-4">
                     <span class="help-block text-muted small-font pull-left">Adjustment Amount</span><br />
                     <input type="text" class="form-control" placeholder="Adjustment Amount" ng-model="AdjustmentAmount" id="AdjustmentAmount" />
                  </div>
                  <div class="col-md-5 col-sm-3 showError">
                     <span id="errAdjustmentAmount" ng-hide="ValidateAdjustmentAmount()">Adjustment Amount required < 10 and > -10</span>
                  </div>
               </div>
            <!-- Player -->
               <div class="row ">
                  <div class="col-md-2"></div>
                  <div class="col-md-5 pad-adjust col-sm-3">
                     <span class="help-block text-muted small-font pull-left">  Player</span><br />
                     <input type="text" class="form-control" placeholder="Player" ng-model="Player" id="Player" />
                  </div>
                  <div class="col-md-5 col-sm-3 showError">
                     <span id="errPlayer" ng-hide="ValidatePlayer()">Player required</span>
                  </div>
               </div>
            <!-- Description -->
               <div class="row ">
                  <div class="col-md-2"></div>
                  <div class="col-md-5 pad-adjust col-sm-4">
                     <span class="help-block text-muted small-font pull-left">  Description</span><br />
                     <input type="text" class="form-control" placeholder="Description" ng-model="Description" id="Description" />
                  </div>
                  <div class="col-md-5 col-sm-3 showError">
                     <span></span>
                     <span id="errDescription" ng-hide="ValidateDescription()">Descriptions required</span>
                  </div>
               </div>

               <div class="row ">
                  <div class="col-md-6">&nbsp;</div>
               </div>
               <div class="row ">
                  <div class="col-md-2"></div>
                  <div class="col-md-3 col-sm-3 col-xs-3 pad-adjust">
                     <input type="button" class="btn btn-danger" value="CANCEL" ng-click="CancelAdjustmentEntry()" />
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-5 pad-adjust">
                     <input type="button" class="btn btn-success btn-block" ng-show="ValidateAdjustmentForm()" value="Update" ng-click="InsertAdjustment()" />
                  </div>
                  <div class="col-md-2"></div>
               </div>

            </div>
         </div>

      </div>
      <div class="col-md-3">

      </div>
      <div>
      </div>
   </div>
</div>


@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
